* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */

body {
    font-family: "Lato", sans-serif;
}

.container {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(219,219,210,1) 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.wrapper {
    width: 80%;
    height: 90%;
}

#user_info, #top_bar, #writing_bar {
    background-color: #EAEAEA;
    height: 60px;
}

#user_name, #notif_text, #item_text, #receiver_text{
    margin-left: 10px;
}

#user_img, #item_img, #receiver_img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow:hidden;
}

#user_img img, #item_img img, #receiver_img img{
    width: 50px;
    height: 50px;
}

#input_search, #input_write {
    padding: 0 10px;
    outline: none;
}

/* / COMMON  */

/* LEFT COLUMN */

.wrapper .col_left {
    float: left;
    width: 35%;
    height: 100%;
    border-right: 1px solid #D6D6D6;
}

#user_info, #top_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#user_info_left {
    display: flex;
    align-items: center;
}

#user_opt i, #receiver_opt i{
    color: #B1B1B1;
    margin: 0 5px;
}

#notification_badge{
    height: 65px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    padding: 10px;
}

#notification_badge i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #8EDAFC;
    background-color: #F2FBFF;
}

#notif_text{
    display: flex;
    flex-direction: column;
}

#notif_text h6 {
    color: #697485;
    text-decoration: underline;
}

#search_bar{
    height: 40px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_bar_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B1B1B1;
    width: calc(20% - 10px);
}

#input_search{
    width: calc(80% - 5px);
}

#search_bar_icon, #input_search {
    background-color: #FFFFFF;
    border: 1px solid #FBFBFB;
    height: 30px;
}


#chat_list{
    height: calc(100% - 165px);
    background-color: #FFFFFF;
    overflow-y: auto;
}

#chat_item{
    border-bottom: 1px solid #EAEAEA;
}

#chat_item:hover {
    background-color: #F4F4F4;
} 

#chat_item:active {
    background-color: #E8EAEA;
}

#chat_item, #tb_left {
    display: flex;
    padding: 15px;
}

#item_text p, #tb_left p{
    margin-top: 5px;
    font-size: 12px;
    color: #697485;
}



/* / LEFT COLUMN */

/* RIGHT COLUMN */

.wrapper .col_right {
    float: left;
    width: 65%;
    height: 100%;
}

#receiver_text{
    margin-top: 5px;
}

#chat_bg{
    padding: 40px;
    height: calc(100% - 120px);
    background-image: url("../img/mine.jpg");
}

.bubble_block{
    width: 100%;
    min-height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.bubble {
    position: relative;
    font-size: 13px;
    padding: 10px;
    min-width: 150px;
    max-width: 300px;
    min-height: 45px;
}

.tick_left{
    position: absolute;
    top: 0.5px;
    left: -8px;
    color: #FFFFFF
}
.tick_right{
    position: absolute;
    top: 0.5px;
    right: -8px;
    color: #FFFFFF
}


.bubble_time{
   font-size: 7.5px; 
   position: absolute;
   right: 5px;
   bottom: 1.5px;
   color: #B1B1B1;
}

.received::before{
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: 900;
    content: "\f0d7";
    color: #FFFFFF;
    position: absolute;
    top: -12px;
    left: -9px;
}

.received {
    background-color: #FFFFFF;
    float: left;
    border-radius: 0 10px 10px 10px;
}

.sent::before{
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: 900;
    content: "\f0d7";
    color: #D5F8B9;
    position: absolute;
    top: -12px;
    right: -9px;
}

.sent {
    background-color: #D5F8B9;
    float: right;
    border-radius: 10px 0 10px 10px;
}

#writing_bar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#writing_bar i {
    color: #697485;
    font-size: 20px;
}

#input_write {
    border: 1px solid #FBFBFB;
    height: 40px;
    width: calc(100% - 150px);
}



/* / RIGHT COLUMN */
